.productInfiniteScroll{    
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.productList {
  //max-width: var(--max-width);
  //padding: 0 5rem;
  width: 100%;
  //min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.pagination{
  margin: 2rem;
}

.noProducts, .loadingWarning {
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
    padding: 2rem;    
    span{
      background: #f2f2f2;
      padding: 2rem;
      border-radius: 2rem;
    }
}

@supports not (display:grid)
{
  .productList {
    display:flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 992px) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
