.newestSlider {  
  width: 100%;
  .content {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 5rem;

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1.5rem 1.5rem 0;

      .title {
        font-size: 3rem;
        line-height: 3rem;
      }

      .sliderArrows {
        display: flex;
        align-items: center;
        margin-right: 5rem;

        .backIcon,
        .nextIcon {
          fill: var(--theme-color);
          width: 20px;
          height: 20px;
          margin-left: 15px;
          cursor: pointer;
        }
      }
    }

    :global(.splide__arrows) {
      position: absolute;
      top: -2.8rem;
      right: 4.7rem;
      button:last-child {
        margin-left: 2.5rem;
      }  
      button {
        left: 0;
        right: 0;

        background-color: transparent;
        border: 0;
        border-radius: 50%;

        height: 2em;
        padding: 0;
        opacity: 0.7;

        svg {
          background: transparent;
          fill: var(--theme-color);
          font-size: 1.5rem;
        }
      }
    }  
     
    .text {
      width: 50%;
      line-height: 25px;
      margin: 20px 0;
      color: var(--text-color-secondary);
    }
  }
}

@media only screen and (max-width: 992px) {
  .newestSlider {
    .content {
      padding: 0 2rem;
      .text {
        width: 100%;
        line-height: 25px;
        margin: 20px 0;
        color: var(--text-color-secondary);
      }
      .top {
        .title {
          font-size: 2rem;
        }

        .sliderArrows {
          margin-right: 0rem;
        }
      }
      
      :global(.splide__arrows) {
        button:last-child {
          margin-left: 2rem;
        }
        button {
          display: none;
        }  
      }
    }
  }
}
