.menuTypeMobile {
    width: 100%;

    // .itemText {
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     flex-direction: row;
    //     border-bottom: 1px solid gray;
    //     font-size: 1.6rem;
    //     padding: 1.5rem 1.5rem;
    //     width: 100%;

    //     svg {
    //         font-size: 2rem;
    //         margin-right: 0.5rem;

    //         &:nth-child(2) {
    //             margin-left: auto;
    //             margin-right: 0;
    //         }
    //     }
    // }

    a {
        display: block;
        /* align-items: center; */
        /* justify-content: space-between; */
        /* flex-direction: row; */
        color: black;
        font-size: 1.6rem;
        padding: 1.5rem 1rem;
        width: 100%;
    }

    .highlight{
        a{
            color: red !important;
        }        
    }

    .bold{
        a{
            font-weight: bold !important;
        }        
    }

    .differentFont {
        font-family: 'imFellTypes';
        font-size: 1.2rem;
    }

    li {
        width: 100%;
        
        .subMenuNavigation {
            display: flex;
            align-items: center;
            justify-content: space-between !important;
            font-size: 1.6rem;
            padding: 1.5rem 1rem;
            width: 100%;
            // border-bottom: none !important;

            &.highlight{
                color: red !important;
            }
        
            &.bold{
                font-weight: bold !important;
            }

            &.differentFont {
                font-family: 'imFellTypes';
                font-size: 1.2rem;
            }

            a {
                color: black;
            }
        }

        .subMenuChildren {
            display: flex;
            flex-direction: column;
            //padding-left: 1.5rem;
            width: 100%;

            p {
                padding: 0rem 1rem !important;
            }

            a {
                color: black;
            }
        }
    }
}
