.featureColumns {
  width: 100%;

  .content {
    width: 100%;
    //max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .column {
      display: flex;
      align-items: center;
      //justify-content: stretch;

      .columnIcon {
        width: 3.5rem;
        height: 3.5rem;
        margin-right: 1rem;
      }

      .info {
        .title {
          font-size: 1.4rem;
          margin-bottom: 0.5rem;
        }

        .text {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .featureColumns {
    .content {
      flex-direction: column;
      padding: 0 2rem;

      .column {
        border: 1px solid var(--text-color);
        border-radius: 0.4rem;
        padding: 1.5rem;
        width: 100%;

        .columnIcon {
          width: 3rem;
          height: 3rem;
        }
      }

      .column:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    }
  }
}
