.cartPage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 5rem;
  }
}

@media only screen and (max-width: 992px) {
  .cartPage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 1.5rem;

    .content {
      width: 100%;
      padding: 0;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
    }
  }
}
