.photosInstagram {
    .content {
        margin: 0 auto;
        padding: 0 5rem;

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            margin-bottom: 3rem;

            .title {
                color: black;
                font-size: 3rem;
            }

            .subTitle {
                color: black;
                cursor: pointer;

                font-size: 2rem;

                text-decoration: underline;
            }
        }

        .images {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            // grid-template-columns: repeat(4, 1fr);
            // grid-template-rows: repeat(2, 250px);
            gap: 1rem;

            .image {
                position: relative;
                width: 100%;
                height: 100%;
                cursor: pointer;

                // &:nth-of-type(1) {
                //     grid-column: span 2;
                //     grid-row: span 2;
                // }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .photosInstagram {
        .content {
            padding: 0 1rem;

        .top {
            .title {
                font-size: 2rem;
            }

            .subTitle {
                font-size: 1.5rem;
            }
        }
    
            .images {
                grid-template-columns: repeat(2, 1fr);
    
                .image {    
                    &:nth-of-type(1) {
                        grid-column: initial;
                        grid-row: initial;
                    }
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}