.filtersFrontCollection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 0 2rem 0;
    gap: 2rem;

    > * {
        &:not(:last-of-type) {
            margin-right: 20px;
        }
        text-transform: uppercase;
        font-size: 1.4rem;
        width: auto !important;
    }

    .modalFilters {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
        gap: 1rem;
        
        span, p{
            border: solid 1px var(--border-color);
            padding: 1rem 2rem;
            border-radius: 1rem;
            cursor: pointer;
            display: flex;
            gap: 1rem;
            color: hsl(0, 0%, 50%);
            svg{
                font-size: 1.6rem;
            }
        }

        &.selected{
            //color: red;
        }
    }
}

@media only screen and (max-width: 992px) {
    .filtersFrontCollection {
        justify-content: space-between;
        // flex-direction: column;
        margin-top: 0;
        width: 100%;

        > * {
            width: 100% !important;
            
            &:not(:last-of-type) {
                margin-right: 0;
                margin-bottom: 0;
            }
        }

        .modalFilters {
            justify-content: flex-start; 
            width: 100% !important;
            span{
                width: 100%;
                justify-content: space-between
            } 
            small{
                display: none;
            }         
        }
    }
}
