.contentPage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .desk {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mobile {
    display: none;
  }

  .content {
    width: 100%;
    //max-width: var(--max-width);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 5rem;

    .pageContent {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      margin: 2rem 0;
      img {
        height: auto;
        width: 100%;
      }
      h2 {
        padding: 4rem 0;
        font-size: 3rem;
      }

      h3,h4 {
        font-size: 2.5rem;
        // padding-bottom: 2.5rem;
        width: 100%;
        text-align: start;
      }

      p {
        width: 100%;
        font-size: 1.5rem;
        line-height: 2.5rem;
        text-align: left;
        // margin-bottom: 1.5rem;
      }

      ul {
        width: 100%;

        li {
          span {
            width: 100%;
            font-size: 1.6rem;
            text-align: left;
            // margin-bottom: 1.5rem;
          }
        }
      }

      .banner {
        width: 100%;
        height: auto;
        margin: 5rem 0;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .contentPage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 90px;

    .desk {
      display: none;
    }
  
    .mobile {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-top: 2.2rem;
    }

    .content {
      width: 100%;
      max-width: var(--max-width);
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      padding: 0rem 1.5rem;      
      
      .pageContent {
        .banner {
          width: 100%;
          height: auto;
          margin: 3rem 0;
        }

        img {
          height: auto;
          width: 50%;
        }
      }
    }
  }
}
