.productModalHome {
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.3) !important;
    transform: translateZ(0) !important;
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100) !important;
    width: 100vw !important;

    visibility: visible !important;
    z-index: 9999 !important;

    // position: fixed;
    // top: 0;
    // left: 0;
    // height: 100vh;
    // width: 100%;
    // background: rgba(0, 0, 0, 0.3);
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // z-index: 20;

    section {
        position: relative;
        width: 400px;
        height: max-content;
        display: flex;
        align-items: center;
        flex-direction: column;
        // display: flex;
        // flex-direction: column;
        // width: 35%;
        // // height: 80%;
        // background: black;
        // border-radius: 5px;

        // @media only screen and (max-width: 1700px) {
        //     height: calc(100vh - 7rem);
        // }

        @media only screen and (max-width: 1024px) {
            width: 80%;
            height: 95%;
        }

        @media only screen and (max-width: 820px) {
            width: 80%;
            height: max-content;
        }

        @media only screen and (max-height: 680px) {
            height: calc(100vh - 7rem);
        }

        .close {
            position: absolute;
            // top: -32px;
            // right: 0px;
            top: .2rem;
            right: -4rem;
            z-index: 3;
            cursor: pointer;
            background: #fff;

            @media only screen and (max-width: 1024px) {
                // top: -32px;
                right: -3.5rem;
            }
        }

        .image {
            width: 100%;
            height: auto;
            overflow: hidden;
        }

        .content {
            width: 100%;
            padding: 20px 15px;
            flex: 1;
            background-color: white;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 10px;

            h1 {
                font-size: 22px;
                font-weight: 300;
            }

            h2 {
                font-size: 16px;
                font-weight: 100;
            }

            p {
                font-size: 25px;
                font-weight: 400;
            }

            .coupon {
                font-size: 25px;
                color: red;
            }

            .emailInput {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-block: auto;
                gap: 5px;

                input {
                    border: 1px solid #ddd;
                    min-height: 40px;
                    font-size: 16px;
                    padding: 5px 12px;
                    color: #222;
                    border-radius: 0;
                    font-family: inherit;

                    &::placeholder {
                        color: #bbb;
                        font-weight: 100;
                    }
                }

                button {
                    min-height: 40px;
                    border: 0;
                    background-color: #000;
                    color: white;
                    width: 100%;
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: 100;
                    font-family: inherit;
                    cursor: pointer;
                }
            }

            .description {
                color: #666;
                font-size: 1.2rem;
                font-weight: 100;
                p {
                    font-size: initial;
                    span {
                        color: black !important;
                        font-size: 10px;
                        font-weight: 300;
                        margin-top: auto;
                    }
                }
            }

            small {
                margin-top: auto;
                font-size: 10px;
                font-weight: 300;
            }
        }

        button {
            background-color: black;
            border-radius: .5rem;
            border: 0;
            color: #fff;
            cursor: pointer;
            margin-top: 1rem;
            padding: 1rem 2rem;
        }
    }
}
