.productPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .content {
    width: 100%;
    //max-width: var(--max-width);
    padding: 2rem 5rem;

    .title {
      font-size: 2.5rem;
      margin: 10rem 0rem 2rem;
      font-weight: 500;
    }
  }
}

@media only screen and (max-width: 992px) {
  .productPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .content {
      width: 100%;
      //max-width: var(--max-width);
      padding: 0;

      .title {
        font-size: 2rem;
        margin: 3rem 1.5rem;
      }

      .subtitle{
        padding: 0 1.5rem;
      }  

      .relatedProducts {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        padding: 0 1.5rem;
      }
    }
  }
}

@supports not (display: grid) {
  .productPage {
    .relatedProducts {
      display: flex;
      flex-wrap: wrap;
    }

    .colorVariantText {
      margin-right: 0.5rem;
    }
  }
}
