.newsPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .categoryBanner {
    width: 100%;
    background: var(--text-color-secondary);
    .desktop,
    .mobile {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
    .mobile {
      display: none;
    }
  }

  .content {
    width: 100%;
    //max-width: var(--max-width);
    padding: 0 5rem;
    min-height: 50rem;

    .top {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
    }

    .productsGrid {
      margin: 30px 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .newsPage {
    .categoryBanner {
      .mobile {
        display: flex;
      }

      .desktop {
        display: none;
      }
    }

    .content {
      width: 100%;
      //max-width: var(--max-width);
      padding: 0 1.5rem;

      .top {
        grid-template-columns: 1fr;
      }

      .productsGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
      }
    }
  }
}
