.wishlistPage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  //padding: 5rem 0;

  .content {
    width: 100%;
    padding: 0 5rem;
    //max-width: var(--max-width);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 20rem;

    .noFavorite{
      font-size: 1.5rem;
      margin: 2rem 0;
    }

    .perfilData {
        width: 100%;
        margin: 5rem 0;
        display: flex;
        align-items: flex-start;
    }

    .perfilMenu {
        width: 20rem;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        a {
          font-size: 1.6rem;
          color: var(--text-color-secondary);
          cursor: pointer;
        }

        a.active {
          color: var(--markup-color);
          border-bottom: 2px solid var(--markup-color);
          padding-bottom: 5px;
        }

        a:not(:last-of-type) {
          margin-bottom: 20px;
        }
      }

    .favoriteProducts {
      width: 100%;
      margin-top: 3rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 5rem;
    }
  }
}

@media only screen and (max-width: 992px) {
  .wishlistPage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem;

    .content {
      width: 100%;
      max-width: var(--max-width);
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      padding: 0;

      .perfilData {
        flex-direction: column;
        margin: 1rem 0;
        .perfilMenu {
          flex: 100%;
          margin-bottom: 30px;
        }
      }

      .favoriteProducts {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
      }
    }
  }
}
