.newestSlider {
  padding: 30px 0;

  .content {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        font-size: 30px;
      }

      .sliderArrows {
        .backIcon,
        .nextIcon {
          fill: var(--theme-color);
          width: 20px;
          height: 20px;
          margin-left: 15px;
          cursor: pointer;
        }
      }
    }

    .text {
      width: 50%;
      line-height: 25px;
      margin: 20px 0;
      color: var(--text-color-secondary);
    }
  }
}

@media only screen and (max-width: 992px) {
  .newestSlider {
    padding: 3rem 1.5rem;
    .content {
      .text {
        width: 100%;
        line-height: 25px;
        margin: 20px 0;
        color: var(--text-color-secondary);
      }
    }
  }
}
