@keyframes moveUp {
  from {
    transform: translateY(5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

.container {
  .imageBox{
    position: relative;
    text-align: center;
    overflow: hidden;
    aspect-ratio: var(--product-aspect-ratio);
    button{
        position: absolute;
        bottom: 1rem;
        border: none;
        width: 90%;
        left: 5%;
        padding: 1rem;
        border-radius: 0.5rem;
        color: var(--button-submit-color);
        background: var(--button-buy-background);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        animation: moveUp 0.3s ease;
        p{
          display: flex;
          align-items: center;
          gap:1rem;
          img{
            filter: invert(1);
          }
        }
    }
  }
  .productImage { 
    width: 100%;
    height: auto;
    min-height: 200px;
    cursor: pointer;
    position: relative;
    transition: all 0.35s ease;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-position: top;
      object-fit: cover;
    }

    .promocional {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      font-weight: bold;
      display: inline-block;
      background: var(--markup-color);
      color: white;
      font-size: 1.1rem;
      padding: 0.3rem 0.5rem;
      text-transform: uppercase;
      opacity: 0.8;
      border-radius: 0.5rem;
      letter-spacing: 0.1rem;
    }

    .soldOff{
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      font-weight: bold;
      display: inline-block;
      background: black;
      color: white;
      font-size: 1.1rem;
      padding: 0.3rem 0.5rem;
      text-transform: uppercase;
      opacity: 0.8;
      border-radius: 0.5rem;          
    }

    .imageType {
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
      font-weight: bold;
      display: inline-block;
      background: #000000;
      color: white;
      font-size: 1.1rem;
      padding: 0.3rem 0.5rem;
      text-transform: uppercase;
      opacity: 0.5;
      border-radius: 0.5rem;
    }

    .tag {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      font-weight: bold;
      display: inline-block;
      background: black;
      color: white;
      font-size: 1.1rem;
      padding: 0.3rem 0.5rem;
      text-transform: uppercase;
      opacity: 0.8;
      border-radius: 0.5rem;
    }

    &:hover {
      filter: brightness(0.8);
    }
  }

  .ballsColor {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;

    .colorVariantImage {
      width: 30px;
      height: 30px;
      cursor: pointer;
      //margin-right: 8px;
      position: relative;
      // border: 1px solid var(--text-color-secondary);
      border: 1px solid var(--text-color);
      border-radius: 50%;
      // border-radius: 5px;
      // padding: 0.5rem;
      text-align: center;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      &:focus {
        border: 1px solid black;
      }

      svg {
        color: green;
        position: absolute;
        top: -10px;
        left: 20px;
        width: 20px;
        height: 20px;
      }

      // &:last-child {
      //   margin-right: 0;
      // }
    }

    .colorVariantText {
      width: auto;
      // height: 20px;
      cursor: pointer;
      //margin-right: 5px;
      position: relative;
      // border: 1px solid var(--text-color-secondary);
      border: 1px solid var(--border-color);
      // border-radius: 50%;
      border-radius: 5px;
      padding: 1rem 1.5rem;
      text-align: center;
      font-size: 1rem;
      display: flex;
      align-items: center;

      &:focus {
        border: 1px solid black;
      }

      &.selected {
        background-color: #000000;
        color: #ffff;
        border: none;
      }

      &.disabled {
        background-color: lightgray;
        border-color: lightgray;

        color: black;
        cursor: initial;
      }

      &.disabled::before {
        content: "";
        position: absolute;
        top: 0;
        left: 1.8rem;
        width: 5%;
        height: 100%;
        background-color: red; /* Cor da linha */
        transform: skew(45deg); /* Inclinação da linha */
      }
    }

    // .colorVariantText:last-child {
    //   margin-right: 0;
    // }
  }

  .productName {
    font-weight: var(--font-weight-product, bold);
    font-size: var(--font-size-product, 1.3rem);
    margin: 1rem 0;
    line-height: 1.6rem;
    text-transform: var(--text-transform-product, initial);
  }

  .productInstallments {
    color: var(--text-color-secondary);
    font-size: 1.3rem;
    min-height: 2.1rem;
    margin-top: 0.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    &:empty{
      display: none;
    }
  }

  .productPIXDiscount{
    color: var(--text-color-secondary);
    font-size: 1.3rem;
    min-height: 2.1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  .productColor {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;

    p {
      width: fit-content;
      margin-right: 1rem;
      font-size: 1.4rem;
      border: 1px solid;
      padding: 1rem;
      border-radius: 0.4rem;
      margin-bottom: 1rem;
    }
  }

  .prices {
    display: flex;
    align-items: center;
  }

  .productPricePromocional {
    color: var(--sale-price-color);
    font-size: 1.5rem;
    font-weight: 400;    
    margin-left: 0.5rem;
  }

  .productPriceWithPromocional {    
    font-size: 14px;
    font-weight: 400;        
    text-decoration: line-through;
  }

  .productPrice {    
    color: #000000;
    font-size: 1.4rem;
    font-weight: 400;    
  }
}
@media only screen and (max-width: 992px) {
  .container {

    .ballsColor {
      p {
        svg {
          top: -10px;
          left: 10px;
        }
      }
      .colorVariantText {
        padding: 0.5rem 1rem;

        &.disabled::before {
          left: 1.3rem;
        }
      } 
    }
    .productColor {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 0;

      p {
        width: fit-content;
        margin-right: 0;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        border: 1px solid;
        padding: 0.5rem;
        border-radius: 0.4rem;
      }
    }

    .prices {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;

      .productPricePromocional {
        margin-left: 0;
      }
    }
  }
}

@supports not (display:grid)
{
  .container {
    flex: 0 0 calc(25% - 2rem);
    margin-right: 2rem;
    margin-bottom: 2rem;  

    .colorVariantText {
      margin-right: 0.5rem;
    }

    .colorVariantText:last-child {
      margin-right: 0;
    }
  }
}
