.footer {
  margin-top: 5rem;
  border-top: solid 1px var(--border-color);
  min-height: 420px;
  // display: flex;
  // height: 40rem;

  .contentFooter{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e5e5e5;
    section{
      flex: 1;
    }
  }

  @media only screen and (min-width: 781px) {
    // display: grid;
    // width: 100%;    
    // grid-template-columns: repeat(5, 1fr);
  }

  .fadeInContent {
    background-color: white;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 40px 15px;
    display: grid;
    grid-template-columns: 10% 90%;
    justify-items: flex-start;
    align-items: center;
    position: relative;

    @media only screen and (min-width: 781px) {
      grid-column: span 5;
      grid-template-columns: 40px 1fr;
      gap: 15px;
      padding-inline: var(--padding-inline-desk);
    }

    > svg {
      font-size: 25px;
    }

    .features {
      max-width: 100%;
      overflow: hidden;

      @media only screen and (min-width: 781px) {
        width: 100%;
      }

      &::before {
        content: "";
        position: absolute;
        left: 12%;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        z-index: 2;
        width: 50px;
        height: 50px;
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);

        @media only screen and (min-width: 781px) {
          left: 80px;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1.3rem;
        pointer-events: none;
        z-index: 2;
        width: 50px;
        height: 50px;
        background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);

        @media only screen and (min-width: 781px) {
          right: 40px;
        }
      }

      // .marquee {
      //   position: relative;
      //   white-space: nowrap;
      //   overflow: hidden;
      //   display: inline-flex;
      //   animation: marquee 25s linear infinite;
      //   align-items: center;
      //   gap: 15px;
      //   padding-left: 100%;

      //   &.pause {
      //     animation-play-state: paused;
      //   }

      //   .item {
      //     display: inline-flex;
      //     align-items: center;

      //     p {
      //       gap: 5px;
      //       font-weight: 100px;
      //       font-size: 14px;

      //       svg {
      //         font-size: 20px;
      //       }
      //     }

      //     img {
      //       width: 20px;
      //       height: 20px;
      //       margin-right: 0.5rem;
      //     }
      //   }
      // }
    }
  }

  .newsletter {
    padding: 4rem;
    //border-bottom: 1px solid #e5e5e5;
    //width: 100%;
    // height: 100%;

    @media only screen and (min-width: 781px) {
      // height: 20rem;
      // grid-column: span 2;
      // padding: 40px 140px 40px var(--padding-inline-desk);
    }

    h1 {
      font-size: 1.5rem;
      font-weight: 400;
      color: #585858;
      letter-spacing: 0.4px;
      line-height: 1.3;
      margin-bottom: 15px;
      // text-transform: uppercase;
    }

    p {
      color: black;
      font-size: 1.2rem;
      margin-bottom: 15px;
      text-align: left;
      font-weight: 300;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;

      input {
        border: 1px solid #e5e5e5;
        border-width: 0 0 1px 0;
        background-color: transparent;
        color: #000;
        font-weight: 300;
        font-size: 1.2rem;
        height: auto;
        margin-bottom: 15px;
        padding: 8px;
        width: 100%;
      }

      input::placeholder {
        color: #666;
      }

      .submit {
        position: relative;

        button {
          position: absolute;
          top: 0;
          bottom: 23px;
          right: 8px;

          background-color: transparent;
          border: 0;

          color: black;
          cursor: pointer;
        }
      }
    }

    .socials {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      margin-top: 40px;

      svg {
        cursor: pointer;
        font-size: 2rem;
      }
    }
  }

  .accordions {
    display: none;
    padding: 2rem;
    .accordion {
      padding: 1rem 0;
      margin: 0;
      border: 0;
      box-shadow: none;
      border-bottom: 1px solid #e5e5e5;
      background-color: transparent !important;

      &:before {
        height: 0;
      }

      :global(.MuiAccordionSummary-root) {
        padding: 0;
        min-height: auto;
      }

      :global(.MuiAccordionSummary-content) {
        margin: 0px;
        font-size: 1.5rem;
        font-weight: var(--font-weight-title-footer);
        color: #585858;
        letter-spacing: 0.4px;
        line-height: 1.3;
        // text-transform: uppercase;
      }

      :global(.MuiAccordionDetails-root) {
        padding: 0;
      }

      :global(.MuiAccordionDetails-root) {
        ul {
          display: flex;
          flex-direction: column;
          gap: 15px;
          padding: 15px 0;
          li {
            list-style: none;
            font-size: 1.2rem;
            font-weight: var(--font-weight-li-footer);
          }
        }
      }
    }
  }

  .paymentMethods,
  .certificates,
  .apps {
    background-color: white;
    padding: 40px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #e5e5e5;

    h1 {
      color: #585858;
      font-size: 1.5rem;
      font-weight: 400;
      letter-spacing: 0.4px;
      line-height: 1.3;
      margin-bottom: 15px;
      text-transform: uppercase;
    }

    .paymentsList {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 10px;

      img {
        width: 40px;
        height: auto;
      }
    }

    .certificatesListAddress {
      display: flex;
      align-items: flex-end;
      gap: 20px;

      .imagesRight {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin-bottom: 1rem;

        .address {
          width: 100%;

          p {
            margin-top: 0;
            text-align: end;
          }
        }

        .images {
          display: flex;
          align-items: center;
          gap: 2rem;
        }
      }
    }

    .certificatesList {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .appsList {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 120px;
        height: auto;
      }
    }

    p {
      color: #585858;
      font-size: 1.2rem;
      font-weight: 300;
      margin-top: 16px;
      text-align: center;
    }
  }

  .binext{
    width: 80px;
    height: 16px;
  }

  .letsencrypt{
    width: 80px;
    height: 18px;
  }

  .pagarme{
    width: 80px;
    height: 28px;
  }

  .upCommerce {
    object-fit: contain;
    width: 100px;
    height: 100px;
  }

  .paymentMethods,
  .certificates {
    background-color: transparent;
    border-bottom: transparent;
  }

  .paymentMethods,
  .certificates,
  .apps,
  .bottom {
    @media only screen and (min-width: 781px) {
      grid-column: span 5;
    }
  }

  .bottom {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-direction: column;
    gap: 5px;

    p {
      color: #585858;
      font-size: 1.2rem;
      line-height: 1.6;
      text-align: center;
    }

    @media only screen and (max-width: 781px) {
      flex-direction: column;
      padding: 0;
    }
  }

  .sac {
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media only screen and (min-width: 781px) {
      padding: 4rem;
      //border-bottom: 1px solid #e5e5e5;
    }

    .topSac {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 1rem;
      flex-direction: column;

      @media only screen and (max-width: 1024px) {
        flex-direction: column;
      }
    }

    div {      

      h1 {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.5rem;
        font-weight: var(--font-weight-title-footer);
        color: #585858;
        letter-spacing: 0;
        margin-bottom: 10px;

        text-transform: none;
      }

      p {
        // padding-left: 25px;
        color: #585858;
        font-size: 1.2rem;
        font-weight: var(--font-weight-li-footer);
        margin: 0 0 8px;
      }
    }

    .socials {
      // background: red;
      width: 100%;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 2rem;
      // margin-top: 40px;

      svg {
        cursor: pointer;
        font-size: 2rem;
      }
    }
  }

  .footerMenuDesk {
    padding: 4rem;
    display: flex;
    // flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 4rem;
    //border-bottom: 1px solid #e5e5e5;

    &:empty{
      display: none;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h1 {
        font-size: 1.5rem;
        font-weight: var(--font-weight-title-footer);
        color: #585858;
        margin-bottom: 10px;
        // text-transform: uppercase;
      }

      li {
        cursor: pointer;
        font-weight: var(--font-weight-li-footer);
        font-size: 1.2rem;
        list-style: none;
      }
    }
  }

  .contentImg {
    width: 100%;
    margin: 0 auto;
    padding: 0 5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    color: white;
    padding-bottom: 2rem;
    img {
      max-height: 25px;
    }
  }

  .content {
    width: 100%;
    margin: 0 auto;
    padding: 4rem 5rem;
    gap: 2rem;
    display: flex;
    //grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;
    // display: flex;
    // align-items: flex-start;
    // justify-content: space-between;
    color: white;

    .left {
      width: 50%;

      .logoContent {
        display: flex;
        align-items: center;
        padding: 0 2rem 0 0;
      }

      .logo {
        max-width: 15rem;
        max-height: 5rem;
        margin: 2rem 0;
        margin-right: 2rem;
      }

      p {
        font-size: 1.2rem;
        line-height: 25px;
      }

      // img {
      //   margin-top: 20px;
      //   width: 545px;
      //   height: 38px;
      // }
    }

    .right {
      width: 50%;
      display: flex;
      justify-content: space-between;
      // grid-template-columns: repeat(3, 1fr);
      // column-gap: 30px;

      .column {
        .title {
          font-size: 16px;
          text-transform: uppercase;
        }

        .item {
          display: flex;
          flex-direction: column;
          font-size: 1.2rem;
          margin: 15px 0;
          cursor: pointer;

          svg {
            font-size: 2.5rem;
            margin-right: 1rem;

            &:last-of-type {
              margin-right: 0rem;
            }
          }

          img {
            max-width: 13rem;
            height: 100%;
            object-fit: cover;
            margin-top: 1rem;
          }
        }
      }
    }
  }
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@media only screen and (max-width: 992px) {
  .footer {
    margin-top: 2rem;
    min-height: 880px;

    .contentFooter{
      flex-direction: column;
    }

    .accordions{
      display: block;
    }

    .footerMenuDesk{
      display: none;
    }

    .newsletter{
      padding: 2rem;
    }

    .contentImg {
      flex-direction: column;
      text-align: center;
      img {
        max-height: inherit;
      }
    }

     .binext{
      width: 60px;
      height: 12px;
    }

    .letsencrypt{
      width: 86px;
      height: 14px;
    }

    .pagarme{
      width: 60px;
      height: 21px;
    }

    .upCommerce {
      object-fit: contain;
      width: 80px;
      height: 80px;
    }

    .content {
      padding: 2rem 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      .left {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 2rem;

        .logoContent {
          padding: 0 2rem 2rem;
          flex-direction: column;
        }

        .logo {
          width: 50%;
          height: auto;
          margin: 20px auto;
        }

        p {
          text-align: center;
        }

        img {
          margin: 30px auto;
          width: 100%;
          height: auto;
        }
      }

      .right {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 15px;
        margin: 2rem 0 0;

        .column {
          text-align: center;

          .item {
            margin: 15px 0;
            align-items: center;

            img {
              width: 35%;
            }
          }
        }
      }
    }
  }
}
