.slideItem {
    img {
        width: 100%;
        height: 100%;
    }

    .name {
        color: black;
        font-size: 20px;
        margin-top: 15px;
    }

    button {
        height: 8px;
        padding: 0;
    }
}
