.homePage {
  width: 100%;
  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;  
    gap: 5rem;
  }
}

@media only screen and (max-width: 992px) {
  .homePage {
    width: 100%;
    padding-top: 90px;
    .content {
      width: 100%;
      gap: 2rem;
    }
  }
}
