.saleBanner {
  padding: 60px 0;
  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    .image {
      height: 600px;
      background: var(--text-color);
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 45px;
      letter-spacing: 15px;
    }

    .info {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      background: #fbfbfb;
      padding: 0 100px;

      .title {
        font-size: 35px;
      }

      .text {
        color: var(--markup-color);
        font-size: 14px;
        margin: 20px 0;
      }

      .shopButton {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 100;
        cursor: pointer;
        transition: all 0.35s ease;

        .nextIcon {
          width: 12px;
          height: auto;
        }

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .saleBanner {
    padding: 30px 0;
    .content {
      grid-template-columns: 1fr;
      .image {
        height: 300px;
      }

      .info {
        height: 300px;
        padding: 0 50px;

        .title {
          font-size: 35px;
        }
      }
    }
  }
}
