.bannerTopPage{
    width: 100%;
    height: auto;
    .desktop,
    .mobile {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
    .mobile {
      display: none;
    }
}

@media only screen and (max-width: 992px) 
{
    .bannerTopPage {
      .mobile {
        display: block;
      }
      .desktop {
        display: none;
      }
    }
}