.bannerSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;  
  aspect-ratio: var(--banner-main-aspect-ratio);
  
  .content {    
    width: 100%;
    height: 100%;

    // .slider{
    //   width: 100%;
    //   position: relative;
    //   height: 0;
    //   position: relative;
    //   padding-bottom: 42.34%;  
    // }

    :global(.splide.is-initialized) {
      height: 100%;
    }

    .imageMobile{
        display: none;
        background-repeat: no-repeat;
    }

    img {
      width: 100%;
    }    
    button {
      background: transparent;
      padding: 0;
      border: 0;

      svg {
        background: transparent;
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .bannerSlider {
    display: block;
    aspect-ratio: var(--banner-main-mobile-aspect-ratio); 
    
    .content{
        .imageDesktop{
            display: none;
        }

        .imageMobile{
            display: block;
        }
    }    
  }
}
