.relatedProducts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 3rem 0rem;
}
    

@media only screen and (max-width: 992px) {
  .relatedProducts {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 0 1.5rem;
  }
}

@supports not (display: grid) {
   .relatedProducts {
      display: flex;
      flex-wrap: wrap;
    }
}

.productDetails {
  display: grid;
  grid-template-columns: 60% 40%;

  .desktop{
    display: block;
  }

  .mobile{
    display: none;
  }

  .imagesSlider{
      aspect-ratio: var(--product-carousel-photo-perpage-2);
  }

  .productCarousel {
    position: relative;

    img {
      position: absolute;
      bottom: 0.7rem;
      right: 0;
      left: 0.5rem;
      width: 30px;
      height: auto;
      color: black;
      cursor: pointer;
    }
  }

  .productExtraInfo {
    position: relative;
    z-index: 11;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    margin-bottom: 2rem;
    padding: 25px 0;

    &:empty{
      display: none;
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 1.5rem; 
      flex: 1;

      padding: 0 1rem;

      &:not(:last-of-type) {
        border-right: 1px solid black;
      }

      .image {
        width: 30px;
        height: 30px;
      }

      p {
        text-align: center;
        font-size: 12px;
        font-weight: 300;
        text-transform: none;
      }
    }
  }

  .submit { 
    background: var(--button-buy-background);
    color: var(--button-submit-color);
    display: flex;
    justify-content: center; 
    align-items: center;
    img {
      margin-right: 1rem;
      filter: invert(1);
    }
  }

  .productInfo {
    padding: 0 0 0 3rem;

    .productName {
      color: var(--text-title-color);
      font-size: 2.5rem;
      font-weight: bold;
      line-height: 45px;
    }

    .productSku {
      display: flex;
      margin: 0rem 0 2rem 0;

      span {
        font-weight: 600;
        font-size: 1.2rem;
        margin-right: 0.5rem;
      }

      .sku {
        color: var(--theme-color);
      }

      img {
        width: 20px;
        height: 20px;
        margin-left: 10px;
      }
    }

    .productPrice {
      margin-bottom: 10px;
      border-radius: 0.5rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;

      .saleBox {
        display: flex;
        align-items: center;
      }

      .sale {
        font-size: 18px;
        text-decoration: line-through;
        color: var(--text-color-price);        
      }

      .saleOff {
        font-size: 14px;        
        margin-left: 10px;
        background: var(--markup-color);
        color: white;
        padding: 0.5rem 1rem;
      }

      .price {
        font-size: 25px;
        color: var(--text-color-price);
      }

      .pricePromotional {
        font-size: 25px;
        color: var(--markup-color-promotional);
      }
    }

    .assessmentStar {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 2rem;
      .stars {
        cursor: pointer;
      }
    }

    .productInstallments {
      color: var(--text-color);
      font-size: 1.4rem;
    }

    .productPIXDiscount {
      margin-top: 0.5rem;
      color: var(--text-color);
      font-size: 1.4rem;
    }

    .productDescription {
      color: var(--text-color);
      font-size: 1.4rem;
      line-height: 25px;
      margin: 20px 0;
    }

    .composition {
      color: var(--text-color);
      font-size: 1.4rem;
      line-height: 25px;
      margin: 20px 0;
    }

    .productColorSize {
      padding: 20px 0;
      .productColor,
      .productSize {
        padding-bottom: 15px;
        border-bottom: 1px solid #f2f2f2;
      }

      > * {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          font-size: 1.4rem;
          font-weight: 500;
          color: var(--text-title-color);
          margin-right: 1rem;
        }

        .variantDisabled {
          background-color: #f2f2f2;
          color: #666 !important;
          img {
            filter: invert(30%) sepia(100%) saturate(1000%) hue-rotate(-50deg) brightness(0.9) contrast(0.85) !important;
          }
        }

        .ballsColor {
          display: flex;
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          justify-content: flex-end;

          .outStock {
            background-color: var(--background-outStock);
          }

          .active {
            border: 2px solid var(--text-color);
            padding: 0.1rem;

            img {
              border-radius: 0;
            }
          }

          .colorVariantImageCircle {  
            border: 1px solid var(--border-color);
            padding: 0.1rem;
          }

          .colorVariantImageCircle,
          .colorVariantImageCircleNotStock,
          .active {
            width: 30px;
            height: 30px;
            cursor: pointer;
            position: relative;
            text-align: center;

            &:focus {
              border: 1px solid black;
            }

            .close {
               position: absolute;
              top: -1.3rem;
              right: -1.3rem;
              z-index: 1;

              img {
                filter: invert(30%) sepia(100%) saturate(1000%) hue-rotate(-50deg) brightness(0.9) contrast(0.85);;
                font-weight: 600;
                width: 1.7rem;
                height: 1.7rem;
              }
            }

            .check {
              position: absolute;
              top: 1rem;
              right: 3rem;
              z-index: 1;
              img {
                    filter: invert(25%) sepia(100%) saturate(1000%) hue-rotate(90deg) brightness(0.9) contrast(0.85);;
                position: absolute;
                top: -20px;
                left: 20px;
                width: 30px;
                height: 30px;
              }
            }

          }

          .colorVariantImage {           

            position: relative;

            .color {
                width: 42px;
                height: 42px;
                cursor: pointer;
                border: 1px solid var(--text-color);
                border-radius: 50%;
                text-align: center;
                overflow: hidden;
            }

            &:focus {
              border: 1px solid black;
            }

            .check {
              position: absolute;
              top: -1rem;
              right: -1rem;
              z-index: 1;
              width: 2rem;
              height: 2rem;
              img {
                filter: invert(25%) sepia(100%) saturate(1000%) hue-rotate(90deg) brightness(0.9) contrast(0.85);   
                width: 2rem;
                height: 2rem;
              }
            }

            .close {
              position: absolute;
              top: -1rem;
              right: -1rem;
              z-index: 1;
              width: 2rem;
              height: 2rem;

              img {
                filter: invert(30%) sepia(100%) saturate(1000%) hue-rotate(-50deg) brightness(0.9) contrast(0.85);;
                font-weight: 600;
                width: 2rem;
                height: 2rem;
              }
            }
          }

          .colorVariantText {
            width: auto;
            cursor: pointer;
            position: relative;
            border: 1px solid var(--text-color);
            border-radius: 5px;
            padding: 1rem;
            text-align: center;

            &:focus {
              border: 1px solid black;
            }

            &.selected {
              background-color: #000000;
              color: #ffff;
            }
          }
        }

        .numberSize {
          display: flex;
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          justify-content: flex-end;

          .sizes {
            position: relative;

            .close {
              position: absolute;
              top: -1.3rem;
              right: -1.3rem;
              z-index: 1;

              img {
                filter: invert(30%) sepia(100%) saturate(1000%) hue-rotate(-50deg) brightness(0.9) contrast(0.85);;
                font-weight: 600;
                width: 1.5rem;
                height: 1.5rem;
              }
            } 
            .check {
              position: absolute;
              top: -1rem;
              right: -1rem;
              z-index: 1;

              img {
                filter: invert(25%) sepia(100%) saturate(1000%) hue-rotate(90deg) brightness(0.9) contrast(0.85);;
                font-weight: bold;
                width: 1.5rem;
                height: 1.5rem;
              }
            }
          }

          .sizeVariant {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            cursor: pointer;
            color: black;
            font-size: 1.2rem;
            font-weight: bold;
            border: 1px solid var(--text-color-secondary);
            border-radius: 5px;
            position: relative;

            &.selected {
              background-color: black;
              color: #ffff;
            }

            &.disabled {
              background-color: lightgray;
              color: black;
              border-color: lightgray;
            }
          }
        }

        > div {
          font-size: 1.4rem;
        }

        .inputQuantity {
          width: 50%;
        }

        &:not(:last-of-type) {
          margin-bottom: 15px;
        }
      }

      .productInStock {
        background-color: #ffead6;
        justify-content: center;
        padding: 0.5rem;
        margin-bottom: 2rem;
      }

      .productQuantity {
        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid var(--text-title-color);
          padding: 8px;
          border-radius: 0.5rem;

          span {
            font-size: 1.6rem;
            font-weight: 300;
            cursor: pointer;
            flex: 1;
            user-select: none;

            &.value {
              cursor: default;
              text-align: center;
            }

            &:last-of-type {
              text-align: right;
            }
          }
        }
      }
    }

    .soldOff {
      display: flex;
      align-items: flex-end;
      padding: 2rem 0;
      justify-content: center;
      button {
        width: 100%;
      }
    }

    .productActions {
      .contentActions{
          padding: 20px 0;
          border-top: 1px solid #f2f2f2;
          border-bottom: 1px solid #f2f2f2;
          display: flex;
          align-items: center;
          justify-content: space-between;

          span {
            font-size: 1.4rem;
            font-weight: 500;
          }

          button:first-child {
            margin-right: 1rem;
          }

          div {
            font-size: 1.4rem;
            display: flex;
            align-items: center;

            img {
              font-size: 2rem;
              margin-left: 10px;
              cursor: pointer;
            }
          }

          button {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            padding: 10px 0;
            img {
              margin-right: 1rem;
              filter: invert(1);
            }
          }
      }      
    }

    .title {
      font-size: 1.4rem;
      font-weight: 600;
      color: var(--text-title-color);
      margin-top: 20px;
    }

    .productShipping {
      padding: 20px 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: 1px solid var(--text-color);

      input {
        width: 50%;
        height: 40px;
        padding-left: 10px;
        border-radius: 0;
        border: 1px solid var(--text-title-color);
      }

      button {
        border-radius: 0;
        padding: 10px;
        width: 50%;
      }

      .shippingMethods {
        margin-top: 1rem;
        width: 100%;

        .shipping {
          display: flex;
          align-items: center;
          font-size: 1.4rem;
          width: 100%;

          p:nth-of-type(2) {
            margin-left: 1rem;
          }

          p:last-of-type {
            margin-left: auto;
          }
        }
      }
    }

    .productLink {
      padding: 0 0 15px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #f2f2f2;
      cursor: pointer;

      span {
        font-weight: 500;
        margin-right: 1rem;
      }

      .sku {
        font-size: 1.1rem;
      }

      img {
        width: 20px;
        height: 20px;
        margin-left: 10px;
      }
    }

    .productText {
      color: var(--text-color);
      font-size: 14px;
      margin-top: 20px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .productDetails {
    grid-template-columns: 1fr;
    position: relative;

    .desktop{
      display: none;
    }

    .mobile{
      display: block;
    }


    .imagesSlider {
      position: sticky;
      top: 0;
      z-index: 0;
      aspect-ratio: var(--product-carousel-photo-perpage-1);
    }

    .productCarousel {
      .image {
        height: 400px;
      }
    }

    .productContent {
      position: relative;
      z-index: 1000;
      background-color: white;

      .productInfo {
        padding: 1.5rem;

        .productName {
          font-size: 2rem;
          line-height: 3rem;
        }

        .productPrice {
          justify-content: flex-start;
          flex-direction: row;
          align-items: center;
        }

        .discount {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.5rem;

          .productPIXDiscount {
            color: var(--text-color-price);
            margin-top: 0;
          }
        }

        .productColorSize {
          .productColor {
            align-items: flex-start;
            flex-direction: column;
            gap: 0.7rem;
          }

          .ballsColor {
            justify-content: flex-start;
          }

          .productSize {
            align-items: flex-start;
            flex-direction: column;
            gap: 0.7rem;
          }

          .productQuantity {
            align-items: flex-start;
            flex-direction: column;
            gap: 0.7rem;
          }
        }

        .description {
          color: var(--text-color);
          font-size: 1.6rem;
          line-height: 2.5rem;

          margin-bottom: 1rem;

          ul {
            padding-left: 3rem;
            li {
              list-style: initial;
            }
          }
        }

        .model {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.7rem;

          background-color: var(--background-accordion-product);
          padding: 1rem;

          .title {
            font-size: 1.4rem;
            margin-top: 0;
          }

          p {
            font-size: 1.2rem;
          }
        }
      }

      .noPadding {
        position: relative;
        z-index: 11;

        background-color: white;        
      }

      .productActions {
        position: sticky;        
        z-index: 11;        
        bottom: 0;
        background-color: #ffff;
        padding-bottom: env(safe-area-inset-bottom, 0);
        border-top: 0;
        border-bottom: 0;        

        .contentActions{  
            display: flex;
            align-items: center;
            justify-content: space-between;          
            background-color: var(--button-buy-background);
            padding: 0.5rem 1rem;
            .iconActions {
              display: flex;

              img {
                width: 20px;
                height: 20px;
                margin-left: 10px;
                cursor: pointer;
              }

              .columnSeparator {
                height: auto;
                width: 1px;
                margin-inline: 1.5rem;
                border-right: 1px solid white;
              }

              img {
                 filter: invert(1);
              }

              img:last-child {
                margin-left: 0;
              }
            }

            button {
              border: 0;
              width: 100%;
            }

            .soldOff {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;

              button {
                background-color: transparent;
                width: 100%;
              }
            }
        }       
      }
    }

    .titleShipping {
      color: black;
      font-size: 1.4rem;
      margin: 2rem 0 1rem 0;
    }
  }
}

@supports not (display: grid) {
  .productDetails {
    display: flex;
    .productCarousel,
    .productInfo {
      width: 50%;
    }

    .colorVariantText {
      margin-right: 0.5rem;
    }
  }
}
