.homePageTwo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5rem;

    .collectionsImages {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;

        // padding: 3rem 3rem 0 3rem;

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
            }
            

            .cardName {
                // position: absolute;
                // bottom: 4rem;
                // z-index: 1;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                // background: #d9d9d980;
                // border: 1px solid #000000;

                // margin-top: 0.5rem;
                // width: 65%;
                // height: 100px;

                .name {
                    font-size: 3rem;
                    font-weight: 500;
                    margin-top: 1.5rem;
                    line-height: 4rem;

                    // padding: 2rem 0;
                    // letter-spacing: 0.3rem;
                    // text-transform: uppercase;
                }
            }
        }
    }

    .text {
        position: relative;
        background-color: #f2f2f2;
        color: black;
        font-size: 2.5rem;

        // margin: 6rem 0;
        padding: 5rem;
        text-align: center;

        p{
            margin: 10px;
        }

        img{
            width: 100%;
        }

        .spotify{
            position: absolute;
            width: 90%;
            bottom: 23%;
            left: 4.9%;
        }
    }
}

@media only screen and (width <= 1024px) {
    .homePageTwo {
        gap: 2rem;
        
        .content {
            h1 {
                color: black;
                font-size: 2rem;
                margin: 4rem 0;
                text-transform: uppercase;
                text-align: center;
            }

            .collectionsImages {
                gap: 1rem;

                // padding: 2rem;
                .card {
                    .cardNameMobile {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .name {
                            font-size: 2rem;
                            margin-top: 1rem;;
                        }
                    }
                }
            }

            .text {
                font-size: 1.7rem;
                line-height: 2.2rem;

                // padding: 2rem;
                margin: 0;

                .spotify{
                    position: absolute;
                    bottom: 8%;
                }
            }
        }
    }
}
