.matches {
    background-color: white;

    // padding-top: 2rem;
    width: 100%;

    @media only screen and (width >= 781px) {
        // padding-inline: var(--padding-inline-desk);
        padding-inline: 5rem;

        // padding-block: 50px;       
    }

    .content {
        > p { 
            display: none;
        }

        h1 {
            padding: 0 15px;
        }

        @media only screen and (width >= 781px) {      
            h1 {
                padding: 0;
            }
        }

        .slideContent {
            :global(.splide__arrows) {
                position: absolute;
                top: 0;
                right: 4.7rem;

                @media only screen and (width <= 781px) {
                    top: -1rem;
                }
            }

            :global(.splide__track){
                padding-top: 2rem;
            }

            button:last-child { 
                margin-left: 2.5rem;
            }

            figure{
                cursor: pointer;
            }

            button {
                left: 0;
                right: 0;
                background-color: transparent;
                border: 0;
                border-radius: 50%;
                height: 2em;
                padding: 0;
                opacity: 0.7;
                transition: all 0.15s ease;

                svg {
                    background: transparent;
                    fill: var(--theme-color);
                    font-size: 1.5rem;
                }
            }
        }  
    }
}

@media only screen and (width <= 960px) { 
    .matches{
        padding: 2rem;
    }
}
