.searchBar {
    position: fixed;
    top: 0;
    z-index: 101;
    width: 100%;

    .content {
        position: relative;
        background: white;
        display: flex;
        align-items:center ;
        justify-content: center;
        height: 0;
        padding: 60px 0;

        .icon {
            position: absolute;
            top: 50px;
            left: calc(10% - 2rem);
            font-size: 2rem;
            cursor: pointer;
        }

        input {
            border: 0;
            border-bottom: 1px solid;
            border-radius: 0;

            font-size: 2rem;
            font-family: var(--font-family-button);

            padding: .5rem 1rem;
            width: 80%;

            &::placeholder {
                color: lightgrey;
                // text-transform: uppercase;
                letter-spacing: 5px;
                font-family: var(--font-family-button);
            }
        }

    }
}