.contentPage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .pageBanner {
    width: 100%;
    height: auto;

    .desktop,
    .mobile {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }

    .mobile {
      display: none;
    }
  }
  
  .content {
    width: 100%;
    min-height: 50vh;
    //max-width: var(--max-width);
    display: flex;
    padding: 0 5rem;
    //align-items: flex-start;
    //justify-content: space-between;
    flex-direction: column;
    margin-bottom: 5rem;    

    .noProducts{
      font-size: 1.6rem;
        width: 100%;
        text-align: center;
        padding: 2rem;
        span{
          background: #f2f2f2;
          padding: 2rem;
        }
    }

    .loadingWarning {
      font-size: 1.6rem;
        width: 100%;
        text-align: center;
        padding: 2rem;
        margin-top: 5rem;
        span{
          padding: 2rem;
          background-color: #f2f2f2;
          border-radius: 1rem;
        }
    }

    .filterHeader{
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }

    .pageContent{
      width: 100%;
    }

    .title {
      font-size: 2.5rem;
      margin: 0 2rem 0 0;
      font-weight: 500;
    }

    .products {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      width: 100%;
      padding: 2rem 0;
    }
  }
}

@supports not (display:grid)
{
  .contentPage {
    .products{
      display:flex;
      flex-wrap: wrap;
    }
  }
}

@media only screen and (max-width: 992px) {
  .contentPage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 90px;

    .pageBanner {
      .mobile {
        display: flex;
      }

      .desktop {
        display: none;
      }
    }

    .content{
      padding: 0rem 1.5rem;  

      .loadingWarning{
        font-size: 1.3rem;
        text-wrap: nowrap;
      }
        
      .title {
        padding: 0 1.5rem;
      }
  
      .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
      }
    }    
  }
}
