.modalFiltersCollection {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    .container {
        position: absolute;
        top: 0;
        background: var(--background-filter);
        height: 100vh;
        width: 30vw;

        display: flex;
        flex-direction: column;
        overflow: auto;

        padding: 2rem;

        svg {
            position: absolute;
            right: 1rem;

            color: black;
            cursor: pointer;
            font-size: 2.5rem;
        }

        small {
            color: black;
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .selects {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                margin-top: 2rem;

                > * {
                    // width: 20rem;
                    &:not(:last-of-type) {
                        margin-right: 20px;
                    }
                    text-transform: uppercase;
                    font-size: 1.4rem;
                }
            }

            .filterActions {
                position: sticky;
                bottom: 0;

                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;
                gap: 1rem;

                background-color: white;
                padding: 3rem;

                button {
                    background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(15, 29, 111) 50%);
                    border: 0;
                    border-radius: 0.5rem;
                    color: white;
                    font-size: 1.7rem;
                    padding: 1rem;
                    transition: all 0.35s ease;
                    width: 100%;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.7;
                    }
                }

                button:last-child {
                    background: transparent;
                    border: 1px solid black;
                    color: black;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .modalFiltersCollection {    
        .container {
            width: 90%;
        }
    }
}