.mobileItemMenu {
    width: 100%;

    .itemText {
        justify-content: space-between !important;
        flex-direction: row;
        border-bottom: 1px solid gray;
        font-size: 1.6rem;
        padding: 1.5rem 1.5rem;
        width: 100%;

        svg {
            font-size: 2rem;
            margin-right: 0.5rem;

            &:nth-child(2) {
                margin-left: auto;
                margin-right: 0;
            }
        }
    }

    .subMenu {
      width: 100%;
      border-bottom: 1px solid gray;

      p {
        color: var(--border-color);
        font-size: 1.5rem;
        font-weight: 500;
        // border-bottom: 1px solid gray;
        padding: 1rem;
        margin-left: 1.5rem;

        a{
          text-align: center;
        }

        &:last-child {
          border: none;
        }
      }
    }
}
