.collectionSlider {
  padding: 5rem 0;
  .content {
    width: 100%;
    margin: 0 auto;
    padding: 0 5rem;
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      .title {
        font-size: 3rem;
      }

      .sliderArrows {
        .backIcon,
        .nextIcon {
          fill: var(--theme-color);
          width: 20px;
          height: 20px;
          margin-left: 15px;
          cursor: pointer;
        }
      }
    }

    .slideContent {
      :global(.splide__arrows) {
        position: absolute;
        top: -2.8rem;
        right: 4.7rem;
      }

      button:last-child {
        margin-left: 2.5rem;
      }

      button {
        left: 0;
        right: 0;

        background-color: transparent;
        border: 0;
        border-radius: 50%;

        height: 2em;
        padding: 0;
        opacity: 0.7;
        transition: all 0.15s ease;

        svg {
          background: transparent;
          fill: var(--theme-color);
          font-size: 1.5rem;
        }
      }

      .slideItem {
        img {
          //border-radius: 1rem;
        }

        .name {
          font-size: 20px;
          margin-top: 15px;
        }

        button {
          height: 8px;
          padding: 0;
        }
      }
      }
  }
}

@media only screen and (max-width: 992px) {
  .collectionSlider {
    padding: 3rem 0 3rem 1.5rem;
    .content {
      padding: 0;
      .top {
        .title {
          font-size: 2rem;
        }
      }
      
      .slideContent {
        button {
          display: none;
        }
      }
    }
  }
}
