.countdownSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;

  .content {
      background: #f2f2f2;
      overflow: hidden;      
  }

  button {
    background: transparent;
    padding: 0;
    border: 0;

    svg {
      background: transparent;
      font-size: 2rem;
    }
  }
}

@media only screen and (max-width: 992px) {
  .countdownSlider {
    margin-bottom: 0rem;
    .content {
      background: #f2f2f2;
      padding: 0;      
    }
  }
}
