.modalProduct {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;

    .content {
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 100%;
        overflow-y: auto;
        background: white;
        border-radius: 5px;

        .top {
            position: relative;
            display: flex;
            color: black;
            font-size: 2rem;

            span {
                position: absolute;
                right: 1.5rem;
                cursor: pointer;
                margin-top: 0.5rem;
            }
        }
    }
}
