.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .content {
    width: 100%;
    //max-width: var(--max-width);
    //margin: 0 0 5rem;
    padding: 0 5rem 4rem;

    .productsGrid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;
    }
  }
}

@media only screen and (max-width: 992px) {
  .container {
    .noTopHeader{
        padding-top: 55px;   
    }            
    .hasTopHeader{
        padding-top: 90px;   
    }
    .content {
      width: 100%;
      max-width: var(--max-width);
      padding: 0 1.5rem 3rem;      

      .top {
        grid-template-columns: 1fr;
      }

      .productsGrid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
