.accordionProductTableOpen {
    display: block !important;
    width: 100%;

    .accordionTitle, .accordionTitleBold {
        position: relative;

        display: flex;
        align-items: center;

        border-bottom: 1px solid #f2f2f2;

        cursor: pointer;
        color: black;

        font-size: 1.4rem;
        font-weight: 500;

        padding: var(--padding-content-accordion-product, 1.5rem 0);
        // text-transform: uppercase;

        span {
            position: absolute;
            top: -20px;
            left: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            background-color: #edd5d5;
            border-radius: 100px;

            color: black;
            font-size: 30px;
            font-weight: 500;

            line-height: 30px;
            padding: 1rem;

            width: 40px;
            height: 40px;
        }

        .accordionSvg {
            color: black;
            margin-left: auto;
            width: 20px;
            height: 20px;
        }
    }

    .content {
        padding: 15px 0;
        border-bottom: 1px solid #f2f2f2;

        p {
            font-size: 1.4rem;
            margin: 1rem 0;

            &:first-child {
                margin-top: 0;
            }
            
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .accordionLine {
        border-bottom: 1px solid #f2f2f2;
        width: 100%;
    }
}

.accordionProductTableOpen:last-child {
    .accordionTitleBold {
        font-weight: bold;
    }
}

@media only screen and (max-width: 1024px) {
    .accordionProductTableOpen {
        position: relative;
        z-index: 1;

        background-color: var(--background-accordion-product, transparent);

        padding: var(--padding-accordion-product, 0);

        .accordionTitle {
            background-color: var(--background-accordion-product, transparent);

        }
    }
}
