.productDetails {
  display: grid;
  grid-template-columns: 60% 40%;

  .productCarousel {
    position: relative;

    svg {
      position: absolute;
      bottom: 0.7rem;
      right: 0;
      left: 0.5rem;

      width: 30px;
      height: auto;
      color: black;
      cursor: pointer;
    }
  }

  .submit {
    background: var(--button-submit-background);
    color: var(--button-submit-color);
  }
  
  .productInfo {
    padding: 0 0 0 3rem;
    .productName {
      color: var(--text-title-color);
      font-size: 3.5rem;
      font-weight: bold;
      line-height: 45px;
      // margin-bottom: 2rem;
    }

    .productSku {
      // padding: 20px 0;
      display: flex;
      // cursor: pointer;
      margin: 0rem 0 2rem 0;

      span {
        font-weight: 600;
        font-size: 1.2rem;
        // text-transform: uppercase;
        margin-right: 0.5rem;
      }

      .sku {
        color:var(--theme-color);
      }

      img {
        width: 20px;
        height: 20px;
        margin-left: 10px;
      }
    }

    .productPrice {
      margin-bottom: 10px;
      //background: #f2f2f2;
      //padding: 2rem;
      border-radius: 0.5rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;

      .saleBox{
        display: flex;
        //align-items: center;
      }

      .sale {
        font-size: 18px;
        text-decoration: line-through;
        color: var(--text-color-price);
      }

      .saleOff{
        font-size: 14px;
        color: var(--text-color-price);
        margin-left: 10px;
      }

      .price {
        font-size: 25px;
        color: var(--text-color-price);
        //color: #000000;        
      }

      .pricePromotional {
        font-size: 25px;
        color: var(--markup-color-promotional);
        //color: #000000;
        //margin-left: 5px;
      }
    }

    .productInstallments {
      color: var(--text-color);
      font-size: 1.4rem;
    }

    .productPIXDiscount {
      margin-top: 0.5rem;
      color: var(--text-color);
      font-size: 1.4rem;
    }

    .productDescription {
      color: var(--text-color);
      font-size: 1.4rem;
      line-height: 25px;
      margin: 20px 0;
    }

    .composition {
      color: var(--text-color);
      font-size: 1.4rem;
      line-height: 25px;
      margin: 20px 0;
    }

    .productColorSize {
      padding: 20px 0;
      .productColor,
      .productSize {
        padding-bottom: 15px;
        border-bottom: 1px solid #f2f2f2;
      }

      > * {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          font-size: 1.4rem;
          font-weight: 500;
          // text-transform: uppercase;
          color: var(--text-title-color);
          margin-right: 1rem;
        }

        .variantDisabled {
          background-color: #f2f2f2;
          color: #666 !important;
          svg {
            color: red !important;
          }
        }

        .ballsColor {
          display: flex;
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          justify-content: flex-end;

          .outStock {
            background-color: lightgray;
          }

          .active {
            border: 1px solid var(--text-color);
            padding: .1rem;

            img {
              border-radius: 0;
            }
          }

          .colorVariantImageCircle, .active {
            width: 30px;
            height: 30px;
            cursor: pointer;
            //margin-right: 8px;
            position: relative;
            text-align: center;

            img {
              width: 30px;
              height: 30px;
            }

            &:focus {
              border: 1px solid black;
            }

            svg {
              color: green;
              position: absolute;
              top: -20px;
              left: 20px;
              width: 30px;
              height: 30px;
            }
          }

          .colorVariantImage {
            width: 30px;
            height: 30px;
            cursor: pointer;
            //margin-right: 8px;
            position: relative;
            border: 1px solid var(--text-color);
            // border: 1px solid var(--text-color-secondary);
            border-radius: 50%;
            // border-radius: 5px;
            // padding: 0.5rem;
            text-align: center;

            img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
            }

            &:focus {
              border: 1px solid black;
            }

            svg {
              color: green;
              position: absolute;
              top: -20px;
              left: 20px;
              width: 30px;
              height: 30px;
            }

            // &:last-child {
            //   margin-right: 0;
            // }
          }

          .colorVariantText {
            width: auto;
            // height: 20px;
            cursor: pointer;
            //margin-right: 5px;
            position: relative;
            // border: 1px solid var(--text-color-secondary);
            border: 1px solid var(--text-color);
            // border-radius: 50%;
            border-radius: 5px;
            padding: 1rem;
            text-align: center;
            // margin-right: 0.5rem;

            &:focus {
              border: 1px solid black;
            }

            &.selected {
              background-color: #000000;
              color: #ffff;
            }
          }
        }

        .numberSize {
          display: flex;
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          justify-content: flex-end;

          .sizes {
            position: relative;

            .close {
              position: absolute;
              top: -0.5rem;
              right: -0.5rem;
              z-index: 1;

              svg {
                color: red;
                font-weight: 600;
                width: 1.5rem;
                height: 1.5rem;
              }
            }
            .check {
              position: absolute;
              top: -1rem;
              right: -1rem;
              z-index: 1;

              svg {
                color: green;
                font-weight: bold;
                width: 1.5rem;
                height: 1.5rem;
              }
            }
          }

          .sizeVariant {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            cursor: pointer;
            color: black;
            font-size: 1.2rem;
            font-weight: bold;
            border: 1px solid var(--text-color-secondary);
            border-radius: 5px;
            position: relative;

            &.selected {
              background-color: black;
              color: #ffff;
            }

            &.disabled {
              background-color: lightgray;
              color: black;
              border-color: lightgray;
            }
          }
        }

        > div {
          font-size: 1.4rem;
        }

        .inputQuantity {
          width: 50%;
        }

        &:not(:last-of-type) {
          margin-bottom: 15px;
        }
      }

      .productInStock{
        background-color: antiquewhite;
        justify-content: center;
        padding: 0.5rem;
        margin-bottom: 2rem;
      }

      .productQuantity {
        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid var(--text-title-color);
          padding: 8px;
          border-radius: 0.5rem;

          span {
            font-size: 1.6rem;
            font-weight: 300;
            cursor: pointer;
            flex: 1;
            user-select: none;

            &.value {
              cursor: default;
              text-align: center;
            }

            &:last-of-type {
              text-align: right;
            }
          }
        }
      }
    }

    .soldOff {
      display: flex;
      align-items: flex-end;
      padding: 0 0 20px 0;
      justify-content: center;
      button {
        width: 100%;
      }
    }

    .productActions {
      padding: 20px 0;
      border-top: 1px solid #f2f2f2;
      border-bottom: 1px solid #f2f2f2;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span{
        font-size: 1.4rem;
        font-weight: 500;
        // text-transform: uppercase;
      }

      button:first-child {
        margin-right: 1rem;
      }

      div {
        font-size: 1.4rem;
        display: flex;
        align-items: center;

        svg {
          font-size: 2rem;
          margin-left: 10px;
          cursor: pointer;
        }
      }

      button {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        padding: 10px 0;
        svg{
          margin-right: 1rem;
        }
      }
    }

    .title {
      font-size: 1.4rem;
      font-weight: 600;
      // text-transform: uppercase;
      color: var(--text-title-color);
      margin-top: 20px;
    }

    .productShipping {
      padding: 20px 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: 1px solid var(--text-color);

      input {
        width: 50%;
        height: 40px;
        padding-left: 10px;
        border-radius: 0;
        border: 1px solid var(--text-title-color);
      }

      button {
        border-radius: 0;
        padding: 10px;
        width: 50%;
      }

      .shippingMethods {
        margin-top: 1rem;
        width: 100%;

        .shipping {
          display: flex;
          align-items: center;
          font-size: 1.4rem;
          width: 100%;

          p:nth-of-type(2) {
            margin-left: 1rem;
          }

          p:last-of-type {
            margin-left: auto;
          }
        }
      }
    }

    .productLink {
      padding: 0 0 15px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #f2f2f2;
      cursor: pointer;

      span {
        font-weight: 500;
        // text-transform: uppercase;
        margin-right: 1rem;
      }

      .sku {
        // color: var(--text-color-secondary);
        font-size: 1.1rem;
      }

      img {
        width: 20px;
        height: 20px;
        margin-left: 10px;
      }
    }

    .productText {
      color: var(--text-color);
      font-size: 14px;
      margin-top: 20px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .productDetails {
    grid-template-columns: 1fr;
    // padding-top: 4.5rem;

    .productCarousel {
      .image {
        height: 400px;
      }
    }

    .productPrice{
      .saleBox{
        //justify-content: center;
      }
    }

    .productInfo {
      padding: 1.5rem;

      .productActions {
        padding: 20px 0;
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
          display: flex;
          img {
            width: 20px;
            height: 20px;
            margin-left: 10px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@supports not (display: grid) {
  .productDetails {
    display: flex;
    .productCarousel,
    .productInfo {
      width: 50%;
    }

    .colorVariantText {
      margin-right: 0.5rem;
    }
  }
}
