.top {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    // .sizeList {
    //     display: flex;
    //     flex-direction: column;
    //     gap: 2rem;

    //     h1 {
    //         text-align: center;
    //     }

    //     .list {
    //         display: flex;
    //         gap: 10px;
    //         margin-bottom: 30px;

    //         small {
    //             display: flex;
    //             align-items: center;
    //             justify-content: center;
    //             border: 1px solid #e1e1e1;
    //             cursor: pointer;
    //             font-weight: 400;
    //             font-size: 12px;
    //             // width: 35px;
    //             // height: 35px;
    //             padding: 10px 15px;

    //             @media only screen and (max-width: 1024px) {
    //                 font-size: 1.1rem;
    //                 width: 35px;
    //                 height: 35px;
    //             }

    //             &.active {
    //                 background-color: black;
    //                 color: white;
    //             }
    //         }

    //         .cleanFilterText {
    //             background-color: white;
    //             // box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.222);
    //             border: 1px solid black;
    //             color: black;
    //             cursor: pointer;
    //             font-size: 1.3rem;
    //             padding: 0.5rem;
    //         }

    //         .cleanFilter {
    //             display: flex;
    //             align-items: center;
    //             justify-content: center;

    //             // background: red;
    //             border: 1px solid black;
    //             // width: 40px;
    //             // height: 40px;
    //             padding: 10px;
    //             cursor: pointer;

    //             @media only screen and (max-width: 1024px) {
    //                 width: 35px;
    //                 height: 35px;
    //             }

    //             svg {
    //                 font-size: 2rem;

    //                 @media only screen and (max-width: 1024px) {
    //                     font-size: 2rem;
    //                 }
    //             }
    //         }
    //     }
    // }
}

.filtersFrontCategory {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 3rem;
    gap: 2rem;

    .modalFilters {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
        gap: 1rem;

        span,
        p {
            border: solid 1px var(--border-color);
            padding: 1rem 2rem;
            border-radius: 1rem;
            cursor: pointer;
            display: flex;
            gap: 1rem;
            color: hsl(0, 0%, 50%);
            svg {
                font-size: 1.6rem;
            }
        }

        &.selected {
            //color: red;
        }
    }
}

@media only screen and (max-width: 992px) {
    .top {
        grid-template-columns: auto;
    }
    .filtersFrontCategory {
        justify-content: space-between;
        // flex-direction: column;
        margin-top: 0;
        width: 100%;

        > * {
            width: 100%;
            &:not(:last-of-type) {
                margin-right: 0;
                margin-bottom: 0;
            }
        }

        .modalFilters {
            justify-content: flex-start;
            width: 100%;
            span {
                width: 100%;
                justify-content: space-between;
            }
            small {
                display: none;
            }
        }
    }
}
