.accordionSubMenuItem {
    width: 100%;

    .accordionTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        font-size: 1.6rem;
        padding: 1.5rem 1rem;
        //border-bottom: 1px solid gray;
        svg{
            font-size: 2rem;
        }
    }
}
