.container { 
    position: fixed;
    inset: 55px 0 0 !important;
    z-index: 99999 !important;
    background: none !important;
    box-shadow: initial !important;
    overflow-y: scroll;
    height: calc(100vh - 55px) !important;

    .content {
        width: 100%;
        height: 100%;
        background: white;
        position: relative;
        overflow: scroll;    

        .closeMobileMenuButton {
            position: absolute;
            color: white;
            width: 30px;
            height: 30px;
            right: 15px;
            top: 15px;
        }

        .user {
            padding: 20px;
            background-color: var(--background-header-user-mobile, #000);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            a{
                text-align: center;
            }

            .Iconuser {
                font-size: 30px;
                color: white;
            }

            p {
                font-size: 12px;
                margin-top: 8px;
                color: white;
            }
        }

        .mobileMenu {
            padding-bottom: 5rem;

            .mobileItem {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex-direction: column;

                // padding: 1rem 0;

                > div {
                    width: 100%;
                }

                p {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: row;
                    width: 100%;
                    font-size: 1.6rem;

                    //border-bottom: 1px solid gray;

                    a {
                        color: #000;
                        width: 100%;
                        padding: 1.5rem 1rem;;
                    }

                    svg {
                        font-size: 2rem;

                        &:nth-child(2) {
                            margin-left: auto;
                            margin-right: 0;
                        }
                    } 
                }

                .subMenu {
                    margin-top: 1rem;
                    width: 100%;
                    border-bottom: 1px solid gray;

                    p {
                        color: var(--border-color);
                        font-size: 1.5rem;
                        font-weight: 500;

                        // border-bottom: 1px solid gray;
                        padding: 1rem;
                        margin-left: 1.5rem;

                        &:last-child {
                            border: none;
                        }
                    }
                }

                .subMenuGroup {
                    background: white;
                    border-radius: 0.4rem;
                    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);

                    :global(.szh-menu__item) {
                        font-size: 1.6rem;

                        &:hover {
                            color: white;
                            background: var(--theme-color);
                        }
                    }
                }
            }

            .otherPages {
                .answer {
                    .answerText {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        flex-direction: row;
                        width: 100%;
                        font-size: 1.6rem;
                        padding: 1.5rem 1rem;
                        padding-left: 2rem;

                        a{
                            color: #000;
                        }
                    }
                }
            }
        }

        .divisor {
            border-bottom: 1px solid gray;
        }
    }
}
