.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 3rem 0;

  > * {
    width: 20rem;
    &:not(:last-of-type) {
      margin-right: 20px;
    }
    text-transform: uppercase;
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    justify-content: space-between;
    flex-direction: column;
    margin-top: 0;

    > * {
      width: 100%;
      &:not(:last-of-type) {
        margin-right: 0;
        margin-bottom: 1.5rem;
      }
    }
  }
}
