.header {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .header {
        display: flex;
        align-items: center;

        .topHeaderMobile{
            width: 100%;
        }
    
        .mainHeader {
            position: absolute;
            top: 0;
            z-index: 5;
    
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            background-color: white;
    
            width: 100%;
            transition: background-color 0.5s ease;
    
            &.open {
                position: fixed;
                top: 0;
                background-color: white;

                .content{
                    border-bottom: 1px solid gray;
                }
            }
    
            .content {
                position: relative;    
                display: flex;
                align-items: center;
                justify-content: space-between;                
                height: 55px;
                padding: 10px 15px;
                width: 100%;                
    
                .leftTopMobile {
                    display: flex;
                    align-items: center;
                    gap: 0.7rem;
    
                    .headerMenu {
                        position: relative;
    
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        width: 20px;
                        height: 20px;
                        transition: all 0.5s ease-in-out;
    
                        .menuBurguer {
                            width: 20px;
                            height: 1px;
                            background: black;
                            border-radius: 5px;
                            box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
                            transition: all 0.5s ease-in-out;
    
                            &::before,
                            &::after {
                                content: "";
                                position: absolute;
                                width: 20px;
                                height: 1px;
                                background: black;
                                border-radius: 5px;
                                box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
                                transition: all 0.5s ease-in-out;
                            }
    
                            &::before {
                                transform: translateY(-7px);
                            }
                            &::after {
                                transform: translateY(7px);
                            }
                        }
    
                        &.open .menuBurguer {
                            transform: translateX(-50px);
                            background: transparent;
                            box-shadow: none;
                        }
    
                        &.open .menuBurguer::before {
                            transform: rotate(45deg) translate(35px, -35px);
                        }
    
                        &.open .menuBurguer::after {
                            transform: rotate(-45deg) translate(35px, 35px);
                        }
                    }
                }
    
                .center {
                    .logo {
                        // position: absolute;
                        // left: 50%;
                        // transform: translateX(-50%);
                        // width: 80px;
                        // height: auto;
                    }
                }
    
                .right {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
    
                    .mobileIconPoints {
                        display: flex;
                        align-items: flex-start;
                        gap: 0.5rem;
    
                        svg {
                            color: var(--text-color);
                            font-size: 2rem;
                        }
    
                        &.mobileIconPoints span {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 0.5rem;
    
                            background: white;
                            border-radius: 0.5rem;
                            border: 1px solid var(--border-color);
                            color: black;
                            font-size: 1.3rem;
                            width: 8rem;
                            height: 2.1rem;
                            // padding: 0.5rem;
    
                            svg {
                                font-size: 1.2rem;
                            }
                        }
                    }
    
                    .mobileSearch {
                        position: relative;
    
                        display: flex;
                        align-items: center;
                        justify-content: center;
    
                        color: black;
                        cursor: pointer;
    
                        font-size: 2rem;
    
                        svg {
                            color: var(--text-color);
                            font-size: 2rem;
                        }
                    }
    
                    .mobileCart, .mobileLogin {
                        position: relative;
    
                        display: flex;
                        align-items: center;
                        justify-content: center;
    
                        color: black;
                        cursor: pointer;
    
                        font-size: 2rem;
                        margin: 0 0.5rem;
    
                        span {
                            position: absolute;
                            top: -5px;
                            right: -5px;
    
                            display: flex;
                            align-items: center;
                            justify-content: center;
    
                            background: red;
                            border-radius: 2rem;
    
                            color: white;
                            font-size: 1rem;
                            
                            width: 1.5rem;
                            height: 1.5rem;
                        }
    
                        svg {
                            color: var(--text-color);
                            font-size: 2rem;
                        }
                    }
                }
    
                // .headerNav {
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                //     display: flex;
                //     gap: 5px;
    
                //     svg {
                //         width: 32px;
                //         height: 32px;
                //         padding: 7px;
                //     }
    
                //     div {
                //         position: relative;
    
                //         small {
                //             display: flex;
                //             align-items: center;
                //             justify-content: center;
                //             width: 15px;
                //             height: 15px;
                //             top: -1.4rem;
                //             right: -0.5rem;
                //             position: absolute;
                //             background-color: black;
                //             border-radius: 50px;
                //             color: white;
                //             font-size: 10px;
                //         }
                //     }
                // }
            }
    
            &.sticky {
                position: fixed;
                top: 0;
                background-color: white;
                animation: slideDown 0.75s ease forwards;
            }
        }
    }
}

@keyframes slideDown {
  0% {
    transform: translateY(-150px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}