.collectionCarousel {
  margin: 0 -10px;
  .slick-slide {
    padding: 0 10px;
    .slide {
      cursor: pointer;
      a{
        border-radius: 1rem;
        overflow: hidden;
        display: block;
      }
      .image {
        width: 100%;
        height: 400px;
        background: grey;
        cursor: pointer;
        transition: all 0.35s ease;

        &:hover {
          transform: scale(1.05);
        }
      }

      .name {
        font-size: 20px;
        margin-top: 15px;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .collectionCarousel {
    .slick-slide {
      .slide {
        .image {
          height: auto !important;
        }
      }
    }
  }
}
