.react-select__control {
  font-family: inherit;
  font-weight: 300;
  border-radius: 0;
  color: var(--text-title-color);
  border-color: var(--text-title-color) !important;
  box-shadow: none !important;
  &.react-select__control--is-focused,
  &.react-select__control--is-focused.react-select__control--menu-is-open {
    border-color: var(--text-title-color);
    box-shadow: none !important;
  }
  &:hover {
    border-color: var(--text-title-color);
  }
  .react-select__value-container {
  }
  .react-select__indicators {
    .react-select__indicator-separator {
      display: none;
    }

    .react-select__dropdown-indicator {
      svg {
        fill: var(--text-title-color);
      }
    }
  }
}
 
.react-select__menu {
  .react-select__menu-list {
    .react-select__option {
    }
    .react-select__option--is-selected,
    .react-select__option--is-selected.react-select__option--is-focused {
      background: var(--text-title-color);
      color: white;
    }
    .react-select__option--is-focused {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}
