.customCountdown {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  .card{    
    .title{
      display: flex;
      justify-content: center;
      flex-direction: column;
      h3{
        font-size: 2rem;
        line-height: 2rem;
      }
      h2{
        font-size: 4rem;
        line-height: 4rem;
      }
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent !important;

    span {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background: transparent !important;
      font-size: 5rem;
      line-height: 5rem;

      small {
        font-size: 1.2rem;
        line-height: 1.2rem;
      }
    }

    .separator {
      margin: 1rem;
      font-size: 5rem;
      line-height: 5rem;
      padding-bottom: 2rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .customCountdown {
    flex-direction: column;
    .card{
      flex-direction: column;
      padding: 2rem;
      .title{
        h3{
          font-size: 1.8rem;
          line-height: 1.8rem;
          text-align: center;
          margin-bottom: 1rem;
        }
        h2{
          font-size: 2.5rem;
          line-height: 2.5rem;
          text-align: center;
          margin-bottom: 1rem;
        }  
      }
    }
    .content {
      
      
    }
  }
}

